@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background: url(img/2.jpg);
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-login{
    width: 50%;
    padding-top: 50px;
}

.left-login-text{
    padding-left: 40px;
}

.left-login-text h1{
    color: #ffff;
    font-family: poppins;
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 0px 1px 4px #000000be;
}
.left-login-text p{
    color: #ffff;
    font-family: poppins;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0px 1px 4px #000000be;
}
.left-imag{
    width: 100px;
    margin-top: 30px;
}

.card-content{
    display: flex;
    align-items: center;
}

.card-login{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffff72;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1{
    color: red;
    font-family: poppins;
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: poppins;
    margin: 10px 8px;
}

  .textfield>input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: black;
    font-family: poppins;
    font-size: 12pt;
    box-shadow: 0px 4px 5px #0000003a;
    outline: none;
    box-sizing: border-box;
  }

  .textfield>input{
    margin: 10px;
  }

 .btn-login{
    padding: 16px 7px;
    margin: 25px;
    border: none;
    border-radius:8px;
    outline: none;
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 800;
    letter-spacing: 3px;
    background:white;
    cursor: pointer;
    box-shadow: 0px 4px 5px #0000003a;
 }
 .btn-login a{
    color: #000;
 }

 a{
    text-decoration: none;
 }
  